@font-face {
    font-family: 'axisextra_bold';
    src: url('axis_extrabold-webfont.woff2') format('woff2'), url('axis_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bold-text {
    color: black;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.dropdown-content .start-row-flex:hover {
    text-decoration: underline;
}

.dropdown-content a {
    text-decoration: none;
}

.p-style {
    margin-left: 5vw;
}

.ml-graphic {
    height: 50vh;
    width: auto;
}

.center-row-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    align-items: center;
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    width: 100%;
}

.start-row-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-box-align: start;
    align-items: flex-start;
}

.space-row-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: space-between;
}

.space-evenly-row-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-justify-content: space-evenly;
    -webkit-box-pack: justify;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.space-evenly-column-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-justify-content: space-evenly;
    -webkit-box-pack: justify;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.end-row-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-justify-content: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-box-align: end;
    align-items: flex-end;
}

.column-start-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-justify-content: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-box-align: start;
    align-items: flex-start;
}

.column-center-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    align-items: center;
}

.full-width {
    width: 100vw;
}

.justify {
    justify-content: space-between;
}

body {
    margin: 0;
    font-family: 'Red Hat Text', sans-serif;
}

header {
    position: fixed;
    width: 100vw;
    background-color: #084A75;
    z-index: 1000;
    height: 8vh;
    padding: 2vh 0vw;
    border-bottom: 2px solid black;
}

.body-root {
    padding-top: 8vh;
}

.logo {
    height: 7vh;
    margin: .5vh 0vw .5vh 3vw;
}

.logo-txt {
    font-weight: 600;
    color: #084A75;
    font-family: 'axisextra_bold';
    margin-right: 3vw;
}

.rangeinput {
    height: 2.5vh;
    width: 4vh;
}

.nav-link {
    margin: 1vh 2vw 0 2vw;
    font-weight: 500;
    font-size: 1.15vw;
    font-family: 'Red Hat Text', sans-serif;
    color: #9DA7B6;
}

.nav-link:hover {
    color: #f55f5d;
}

.nav-link:hover {
    text-decoration: none;
}

.dropdown .nav-link::after {
    display: none;
}

.dropdown .nav-link {
    margin-bottom: calc(1vh + 3px);
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 1vh;
    height: 3px;
    background: #084A75;
    transition: width .1s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.nav-button {
    font-family: 'Red Hat Text', sans-serif;
    padding: 1vh 1.5vw;
    font-size: 1.3vw;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background-color: #db3731;
    border-radius: 0.5vw;
    border: 2px solid #db3731;
    margin: 0 2vw 1vh 2vw;
}

.nav-button:hover {
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-txt {
    color: #3dbeaf;
    font-size: 1.15vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    font-weight: 500;
}

.dropdown-txt:hover {
    text-decoration: none;
    color: #db3731;
}

.dropdownbox {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 80%;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 1vw 2vw;
}

.dropdown:hover .dropdownbox {
    display: flex;
    animation: grow 0.1s ease;
}

.dropdown:hover .nav-link {
    color: #f55f5d;
}

.dropdown:hover .arrow-up {
    display: block;
}

.arrow-up {
    display: none;
    position: absolute;
    top: 70%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f4f7f6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
    font-family: 'Red Hat Text', sans-serif;
    margin-bottom: .5vh;
    margin-top: .5vh;
    color: #00c2cc;
}

.icon {
    width: 1vw;
}

.icon-holder {
    margin-right: .5vw;
}

.splash-title {
    text-align: start;
    width: 40vw;
    margin-top: 3vh;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
}

.popup-holder {
    height: 90vh;
}

.popup-title {
    text-align: center;
    font-weight: 500;
}

.get-started-popup {
    width: 30vw;
    background-color: #ffffff;
    border-radius: 2vw;
    height: 75vh;
}

.emphisize {
    font-weight: 700;
    text-decoration: underline;
}

.body {
    width: 100vw;
    position: relative;
}

.particles-js-canvas-el {
    z-index: -1;
    position: absolute;
    top: 0;
}

.home-splash {
    margin-top: -7vh;
    padding-top: 10vh;
    background-image: url("billboard.png");
    background-size: cover;
}

.system-holder {
    margin-right: 3vw;
    width: 30vw;
}

.system-row {
    width: 100%
}

.figure {
    width: 10vw;
    height: 10vw;
    background-color: #084A75;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

.feature-box {
    position: relative;
    width: 100vw;
    height: 80vh;
    padding: 10vh 0;
}

#feature-2 {
    background-image: url("background1.svg");
    height: 200vh;
    background-size: cover;
    background-position: 30% 0%;
}

#feature-3 {
    background-image: url("background2.svg");
    height: 200vh;
    background-size: cover;
    background-position: 30% 0%;
}

.blue-band {
    height: 10vh;
    width: 100vw;
    background-color: #084A75;
}

.feature-box video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-45%);
    -moz-transform: translateX(-50%) translateY(-45%);
    -webkit-transform: translateX(-50%) translateY(-45%);
    transform: translateX(-50%) translateY(-45%);
}

.feature-box .container {
    position: relative;
    z-index: 2;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.home-title-col {
    padding-top: 8vh;
    height: 90vh;
    width: 40vw;
}

.touchable {
    cursor: pointer;
}

.touchable:hover {
    background-color: #cc1100;
    color: white;
}

#loading-txt,
#legal-txt,
#illegal-txt {
    display: none;
}

@keyframes grow {
    0% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes float1 {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translate(0px, 0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translate(-20px, 10px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translate(0px, 0px);
    }
}

@keyframes float2 {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translate(0px, 0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translate(20px, -10px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translate(0px, 0px);
    }
}

@keyframes float3 {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translate(0px, 0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translate(-20px, -10px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translate(0px, 0px);
    }
}

@keyframes float4 {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translate(0px, 0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translate(20px, 10px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translate(0px, 0px);
    }
}

.page-title {
    color: #084a75;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    margin-top: 35vh;
    margin-left: 5vw;
}

.options-btn {
    color: #084a75;
    background-color: white;
    margin: 0 1vw;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid #cc1100;
    border-radius: 20px;
    padding: 1vh 1vw;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

.options-btn:hover {
    background-color: #cc1100;
    color: white
}

.graphic-holder {
    width: 50vw;
    height: 50vw;
}

.graphic-holder2 {
    width: 50vw;
    height: auto;
}

.infoholder2 {
    width: 50vw;
    height: auto;
}

.infoholder {
    padding: 0vh 3vw;
    width: 50vw;
    height: 50vw;
}

.graphic {
    width: 100%;
    height: 100%;
}

.hunned-width {
    width: 100%;
}

.infotitle {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    color: #084A75;
    text-align: center;
}

.infotitle2 {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 9.8vw;
    margin-bottom: auto;
}

.start-btn {
    color: #cc1100;
    margin: 0 1vw;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid #cc1100;
    border-radius: 20px;
    padding: 1vh 1vw;
    cursor: pointer;
    color: #084A75;
}

.start-btn:hover {
    color: white;
    background-color: #cc1100;
}

.invisible-link {
    color: inherit;
    text-decoration: none;
}

.content-section {
    background-color: white;
    margin-top: 10vh;
    width: 50vw;
    -moz-box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.formtitle {
    font-size: 1.75vw;
    margin-bottom: 2vh;
}

.formsubtitle {
    color: #084A75;
    font-family: 'Red Hat Text', sans-serif;
    margin-top: 1vh;
}

.splash-formsubtitle {
    font-family: 'Red Hat Text', sans-serif;
    margin-top: 1vh;
    color: #9DA7B6;
}

input {
    font-size: 1.3vw;
    padding: 0.5vh 0.25vw;
    margin-top: 1vh;
    height: 3.5vh;
    border: 2px solid #9DA7B6;
    border-radius: 3px;
    width: 20vw;
}

input:focus {
    outline: none;
}

input[type="checkbox"] {
    width: auto;
    height: auto;
}

.submitbtn {
    width: 20vw;
    color: #cc1100;
    margin: 0 1vw;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid #cc1100;
    border-radius: 20px;
    padding: 1vh 1vw;
    cursor: pointer;
    margin: 2vh 0;
}

.checkboxholder {
    width: 20vw;
}

.checkboxholder input {
    width: auto;
    margin: 0;
    margin-right: .5vw;
}

textarea {
    resize: none;
    width: 20.3vw;
    height: 15vh;
    font-size: 1.3vw;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Red Hat Text', sans-serif;
}

textarea:focus {
    outline: none;
}

.submitbtn:hover {
    color: white;
    background-color: #cc1100;
}

.errors {
    color: #c30f0f;
    font-size: 1vw;
}

.formsection {
    width: 20vw;
}

a {
    color: inherit;
}

.small-txt {
    color: black;
}

.gateholder {
    margin-top: 4vh;
}

.gate {
    color: #cc1100;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid #cc1100;
    border-radius: 10px;
    padding: 1vh 1vw;
    cursor: pointer;
    margin: 2vh 1vw;
}

.gate:hover {
    color: white;
    background-color: #cc1100;
}

.fileinput-holder input {
    border: none;
}

.pg-title {
    color: black;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.75vw;
    font-weight: 600;
    margin-top: 10vh;
    text-align: center;
}

.section-title {
    font-size: 12px;
    text-align: center;
    margin: 0;
    color: black;
    font-family: 'Red Hat Text', sans-serif;
}

.form-section {
    margin: 2vh 4vw;
}

#id_width,
#id_height {
    font-size: 1vw;
    width: 5vw;
    height: 2vh;
}

.reason {
    width: 50vw;
    height: 30vw;
}

.solutions-graphic {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    height: 28vw;
}

.solutions-graphic-small {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    height: 22vw;
}

#reason {
    color: black;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 2.5vw;
}

#map {
    width: 80vw;
    height: 40vh;
}

.showcase-img {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
}

.info-p {
    color: #084A75;
    font-size: 1.6vw;
    font-weight: 500;
    margin-top: 3vh;
    text-align: center;
}

.info-message {
    color: #084A75;
    font-size: 1.4vw;
    font-weight: 500;
    margin-top: 3vh;
    margin-left: 6vw;
    text-align: center;
}

.info-ajax-link {
    text-decoration: underline;
    color: #690104;
    cursor: pointer;
}

.adspace {
    width: 100%;
    height: 100%;
}

.adspaces-col {
    width: 50vw;
}