{% extends "main/layout.html" %}
{% load static %}
{% block title %}Sell your Adspace{% endblock %}
{% block main %}
<style>
  input, textarea {
    padding: 2vh 1vw;
    font-size: 1.3vw;
  }
</style>

<div class="pg-title">
  List your adspace
</div>
<div class="full-width center-row-flex">
  <form method="POST">
    <div class="column-start-flex">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}
      <div class="center-row-flex">
        <div class="column-start-flex form-section">
          <div class="section-title pg-title">
            Basic details
          </div>
          <div class="hunned-width center-row-flex">
            <div class="formsection column-start-flex">
              <div class="formsubtitle start-row-flex">
                Title
              </div>
              <div class="start-row-flex">
                {{ form.title }}
              </div>
              <span class="errors">
              {{ form.title.errors.as_text }}
              </span>
            </div>
          </div>
          <div class="hunned-width center-row-flex">
            <div class="formsection column-start-flex">
              <div class="formsubtitle start-row-flex">
                Description
              </div>
              <div class="start-row-flex">
                {{ form.description }}
              </div>
              <span class="errors">
              {{ form.description.errors.as_text }}
              </span>
            </div>
          </div>
        </div>
        <div class="column-start-flex form-section">
          <div class="section-title pg-title">
            More details
          </div>
          <div class="hunned-width center-row-flex">
            <div class="formsection column-start-flex">
              <div class="formsubtitle start-row-flex">
                Address
              </div>
              <div class="start-row-flex">
                {{ form.address }}
              </div>
              <span class="errors">
              {{ form.address.errors.as_text }}
              </span>
            </div>
          </div>
          <div class="hunned-width center-row-flex">
            <div class="formsection column-start-flex">
              <div class="formsubtitle start-row-flex">
                Height of adspace (ft)
              </div>
              <div class="start-row-flex">
                {{ form.height }}
              </div>
              <span class="errors">
              {{ form.height.errors.as_text }}
              </span>
            </div>
          </div>
          <div class="hunned-width center-row-flex">
            <div class="formsection column-start-flex">
              <div class="formsubtitle start-row-flex">
                Width of adspace (ft)
              </div>
              <div class="start-row-flex">
                {{ form.width }}
              </div>
              <span class="errors">
              {{ form.width.errors.as_text }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="center-row-flex">
        <div class="column-start-flex form-section">
          <div class="section-title pg-title">
            Pricing
          </div>
          <div class="hunned-width center-row-flex">
            <div class="formsection column-start-flex">
              <div class="formsubtitle start-row-flex">
                Term Length
              </div>
              <div class="start-row-flex">
                {{ form.term_length }}
              </div>
              <span class="errors">
              {{ form.term_length.errors.as_text }}
              </span>
            </div>
          </div>
          <div class="hunned-width center-row-flex">
            <div class="formsection column-start-flex">
              <div class="formsubtitle start-row-flex">
                Price per term
              </div>
              <div class="start-row-flex">
                {{ form.direct_price }}
              </div>
              <span class="errors">
              {{ form.direct_price.errors.as_text }}
              </span>
            </div>
          </div>
        </div>
        <div class="column-start-flex form-section">
          <div class="section-title pg-title">
            Image
          </div>
          <div class="hunned-width center-row-flex">
            <div class="formsection column-start-flex">
              <div class="formsubtitle start-row-flex">
                Photo
              </div>
              <div class="start-row-flex">
                {{ form.image }}
              </div>
              <span class="errors">
              {{ form.image.errors.as_text }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="hunned-width center-row-flex">
      <button type="submit" class="submitbtn">Publish</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block bottomScripts %}
<script>
  function activatePlacesSearch() {
    var input = document.getElementById("id_address")
    var autocomplete = new google.maps.places.Autocomplete(input, {types: ['geocode']})
    autocomplete.setFields(['address_component']);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRredUc1zqTYJAGpWwNF0nBiqBI7Hus70&libraries=places&callback=activatePlacesSearch"
        async defer></script>
{% endblock %}
