{% extends "main/layout.html" %}
{% load static %}
{% block title %}Sell your Adspace{% endblock %}
{% block main %}
<style>
  input, textarea {
    padding: 2vh 1vw;
    font-size: 1.3vw;
  }
</style>
<div class="pg-title center-row-flex">
  List your adspace
</div>
<div class="full-width center-row-flex">
  <form method="POST">
    <div class="column-start-flex">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}
      <div class="center-row-flex">
        <div class="column-start-flex form-section">
          <div class="section-title pg-title">
            Basic details
          </div>
          <div class="hunned-width center-row-flex">
            <div class="formsection column-start-flex">
              <div class="formsubtitle start-row-flex">
                Title
              </div>
              <div class="start-row-flex">
                {{ form.title }}
              </div>
              <span class="errors">
              {{ form.title.errors.as_text }}
              </span>
            </div>
          </div>
          <div class="hunned-width center-row-flex">
            <div class="formsection column-start-flex">
              <div class="formsubtitle start-row-flex">
                Description
              </div>
              <div class="start-row-flex">
                {{ form.description }}
              </div>
              <span class="errors">
              {{ form.description.errors.as_text }}
              </span>
            </div>
          </div>
        </div>
        <div class="column-start-flex form-section">
          <div class="section-title pg-title">
            More details
          </div>
          <div class="hunned-width center-row-flex">
            <div class="formsection column-start-flex">
              <div class="formsubtitle start-row-flex">
                Address
              </div>
              <div class="start-row-flex">
                {{ form.address }}
              </div>
              <span class="errors">
              {{ form.address.errors.as_text }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="hunned-width center-row-flex">
      <button type="submit" class="submitbtn">Publish</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
