{% extends "main/layout.html" %}
{% load static %}
{% block title %}Browse Ad Spaces{% endblock %}
{% block main %}
<div class="space-evenly-row-flex viewcontainer">

  <!-- Left Column / Headphones Image -->
  <div class="column-center-flex left-column">
    <img data-image="red" class="active" src="{{ adspace.image.url }}" alt="">
  </div>


  <!-- Right Column -->
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      <span>{{ adspace.city }}</span>
      <h1>{{ adspace.title }}</h1>
      <p>{{ adspace.description }}</p>
    </div>

    <!-- Product Pricing -->
    <div class="product-price">
      {% load humanize %}
      <span>${{ adspace.price_per_day|floatformat:2|intcomma }}/day</span>
      <a href="#" class="cart-btn">Reserve</a>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {

  $('.color-choose input').on('click', function() {
      var headphonesColor = $(this).attr('data-image');

      $('.active').removeClass('active');
      $('.left-column img[data-image = ' + headphonesColor + ']').addClass('active');
      $(this).addClass('active');
  });

});
</script>
{% endblock %}
