{% extends "main/layout.html" %}
{% load static %}
{% block title %}Browse Ad Spaces{% endblock %}
{% block main %}
<div class="space-evenly-row-flex">
    <div class="image-holder space-evenly-column-flex">
        <div class="adspace-img-holder center-row-flex">
            <img src="https://katapult-staticfiles.s3.amazonaws.com/media/adspace_pics/westvillage.jpg" class="adspace-main-img">
        </div>
    </div>
    <div class="adspace-info-holder column-start-flex">
        <div class="adspace-page-title">New Adspace in manhattan</div>
        <div class="adspace-title">$10,000 per month</div>
        <div class="adspace-title">300ft²</div>
        <div class="adspace-title">At 33 Broadway</div>
        <div class="adsp-buttons-row space-evenly-row-flex">
            <div class="adsp-button" id="save-button">
                Save
            </div>
            <div class="adsp-button" id="save-button">
                Share
            </div>
        </div>
        <div class="adspace-title">Listed by Katapult LLC</div>
    </div>
</div>
{% endblock %}