{% extends "main/layout.html" %}
{% load static %}
{% block title %}Browse Ad Spaces{% endblock %}
{% block main %}
<div class="space-evenly-row-flex viewcontainer">

  <!-- Left Column / Headphones Image -->
  <div class="column-center-flex left-column">
    <img data-image="red" class="active" src="{{ adspace.image.url }}" alt="">
  </div>


  <!-- Right Column -->
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      <span>{{ adspace.city }}</span>
      <h1>{{ adspace.title }}</h1>
      <p>{{ adspace.description }}</p>
    </div>

    <!-- Product Configuration -->
    <div class="product-configuration">

      <!-- Product Color -->
      <div class="product-color">
        <span>Color</span>

        <div class="color-choose">
          <div>
            <input data-image="red" type="radio" id="red" name="color" value="red" checked>
            <label for="red"><span></span></label>
          </div>
          <div>
            <input data-image="blue" type="radio" id="blue" name="color" value="blue">
            <label for="blue"><span></span></label>
          </div>
          <div>
            <input data-image="black" type="radio" id="black" name="color" value="black">
            <label for="black"><span></span></label>
          </div>
        </div>

      </div>

      <!-- Cable Configuration -->
      <div class="cable-config">
        <span>Cable configuration</span>

        <div class="cable-choose">
          <button>Straight</button>
          <button>Coiled</button>
          <button>Long-coiled</button>
        </div>

        <a href="#">How to configurate your headphones</a>
      </div>
    </div>

    <!-- Product Pricing -->
    <div class="product-price">
      {% load humanize %}
      <span>${{ adspace.price_per_day|floatformat:2|intcomma }}/day</span>
      <a href="#" class="cart-btn">Add to cart</a>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {

  $('.color-choose input').on('click', function() {
      var headphonesColor = $(this).attr('data-image');

      $('.active').removeClass('active');
      $('.left-column img[data-image = ' + headphonesColor + ']').addClass('active');
      $(this).addClass('active');
  });

});
</script>
{% endblock %}
