{% extends "main/layout.html" %}
{% load static %}
{% block title %}Browse Ad Spaces{% endblock %}
{% block main %}
<script>
function add() {
  //Create an input type dynamically.
  var element = document.createElement("input");    

//Assign different attributes to the element.
  element.setAttribute("type", "text");
  element.setAttribute("value", "");
  element.setAttribute("name", "age1low");

  // 'foobar' is the div id, where new fields are to be added
  var foo = document.getElementById("add");

  //Append the element in page (in span).
  foo.appendChild(element);
}
</script>
<div class="full-width center-row-flex">
  <div class="pg-title">
    Browse Ad Spaces
  </div>
</div>
<div class="full-width center-row-flex">
<div class="content-section">
<form method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}
  <div class="formsubtitle center-row-flex">
    Target Demographics <br><br>
  </div>
  <div class="hunned-width center-row-flex">
      <span class="errors">{{ errormessage }}</span>
      <div class="center-row-flex">
      <div class="column-start-flex">
        <div class="start-row-flex">Age groups
          <br>
          <input class="rangeinput" type="number" id="age1low" name="age1low"> to <input type="number" id="age2low" name="age2low"></div>
          <div class="center-row-flex" id="add"><button id="button" value="Add" onClick:"javascript:add();">+</button></div><br>
        Income bracket
        <div class="start-row-flex"><input type="checkbox" id="income1" name="income1"><$10,000</div>
        <div class="start-row-flex"><input type="checkbox" id="income2" name="income2">$10,000 - $25,000</div>
        <div class="start-row-flex"><input type="checkbox" id="income3" name="income3">$25,000 - $50,000</div>
        <div class="start-row-flex"><input type="checkbox" id="income4" name="income4">$50,000 - $100,000</div>
        <div class="start-row-flex"><input type="checkbox" id="income5" name="income5">$100,000 - $250,000</div>
        <div class="start-row-flex"><input type="checkbox" id="income6" name="income6">$250,000 - $500,000</div>
        <div class="start-row-flex"><input type="checkbox" id="income7" name="income7">$500,000 - $1,000,000</div>
        <div class="start-row-flex"><input type="checkbox" id="income8" name="income8">$1,000,000+</div>
        <br>
        Gender Demographics
        <div class="start-row-flex"><input type="checkbox" id="male" name="male">Male</div>
        <div class="start-row-flex"><input type="checkbox" id="female" name="femake">Female</div>
        <div class="start-row-flex"><input type="checkbox" id="other" name="other">Other</div>
      </div>
      <div class="column-start-flex">
        Interests
        <div class="start-row-flex"><input type="text" id="interest1" name="interest1"></div>
        <button id="button" value="Add" onClick:"javascript:add();">+</button>
        <br>
        Sentiments
        <br><br>
        Locations
        <div class="start-row-flex"><input type="text" id="location1" name="location1"></div>
        <button id="button" value="Add" onClick:"javascript:add();">+</button>
      </div>
    </div>
  </div>
  <div class="hunned-width center-row-flex">
    <button type="submit" class="submitbtn">Submit</button>
  </div>
</form>
</div>
</div>
{% endblock %}
