{% extends "main/layout.html" %}
{% load static %}
{% block title %}Create an ad campaign{% endblock %}
{% block main %}
<div class="full-width center-row-flex">
  <div class="pg-title">
    Create an ad campaign
  </div>
</div>
<div class="full-width center-row-flex">
  <div class="infotitle" style="margin-top: 3vh; text-align: center">
    Yup! All you have to do is put in your product type and budget. <br>All data analysis is on us.
  </div>
</div>
<form method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}
  <div class="full-width center-row-flex">
    <div class="formsection column-start-flex">
      <span class="errors">{{ errormessage }}</span>
      <div class="formsubtitle start-row-flex">
        Product type
      </div>
      <div class="start-row-flex">
        {{ form.marketSegment }}
      </div>
      <span class="errors">
      {{ form.marketSegment.errors.as_text }}
      </span>
    </div>
  </div>
  <div class="full-width center-row-flex">
    <div class="formsection column-start-flex">
      <div class="formsubtitle start-row-flex">
        Budget (in dollars)
      </div>
      <div class="start-row-flex">
        {{ form.budget }}
      </div>
      <span class="errors">
      {{ form.budget.errors.as_text }}
      </span>
    </div>
  </div>
  <div class="full-width center-row-flex">
    <button type="submit" class="submitbtn">Buy Campaign</button>
  </div>
</form>
{% endblock %}
