{% extends "main/layout.html" %}
{% load static %}
{% block title %}Browse Ad Spaces{% endblock %}
{% block main %}
{% for group in groups %}
<div class="carousel-title" style="margin-top: 10vh">{{ group.title }}</div>
<div class="horizontal-scroll">
    {% for adspace in group.adspaces %}
    <div class="card" onclick="location.replace('http://127.0.0.1:8000/buy/view/{{ adspace.id }}/')">
        <img src="{{ adspace.image.url }}">
        <div class="info">
            <div class="title">
                {{ adspace.title }}
            </div>
            <div class="price">
            {% load humanize %}
                ${{ adspace.direct_price|floatformat:2|intcomma }}
            </div>
            <div class="address">
            {% load humanize %}
                {{ adspace.address }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}