{% extends "main/layout.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block main %}
<div class="full-width center-row-flex">
  <div class="content-section">
    <div class="hunnded-width">
      <div class="formtitle infotitle">Sign in</div>
    </div>
    <form method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for hidden_field in form.hidden_fields %}
      <span class="errors">
        {{ hidden_field.errors.as_text }}
      </span>
        {{ hidden_field }}
      {% endfor %}
      <div class="hunned-width center-row-flex">
        <div class="formsection column-start-flex">
          <div class="formsubtitle start-row-flex">
            Email
          </div>
          <div class="start-row-flex">
            {{ form.username }}
          </div>
          <span class="errors">
            {{ form.username.errors.as_text }}
          </span>
        </div>
      </div>
      <div class="hunned-width center-row-flex">
        <div class="formsection column-start-flex">
          <div class="formsubtitle start-row-flex">
            Password
          </div>
          <div class="start-row-flex">
            {{ form.password }}
          </div>
          <span class="errors">
            {{ form.password.errors.as_text }}
          </span>
        </div>
      </div>
      <div class="hunned-width center-row-flex">
        <button type="submit" class="submitbtn">Sign up</button>
      </div>
      <div class="hunned-width center-row-flex" style="margin-bottom: 2vh;">
        <span class="small-txt">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></span>
      </div>
    </form>
  </div>
</div>
{% endblock %}
