{% extends "main/layout.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block main %}
<div class="home-splash body">
  <div class="space-evenly-row-flex" >
    <div class="home-title-col column-start-flex">
      <h1 class="splash-title">
        Katapult is here to revolutionize <br>outdoor advertising.
      </h1>
      <h2 class="splash-title">
        The evolution of outdoor advertising for the digital age.
      </h2>
      <h3 class="splash-title">
        Only katapult provides the data, insights, and convenience of a truely revolutionary product.
      </h3>
    </div>
    <div class="popup-holder column-center-flex">
      <div class="get-started-popup space-evenly-column-flex">
        <div class="center-row-flex">
          <h4 class="popup-title">Sign up to Katapult</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="full-width column-start-flex" id="business-solutions">
  <div class="full-width justify start-row-flex">
    <div class="graphic-holder">
      <!-- TODO: these graphics dont go well with the theme of the page, change to screenshots and direct representation -->
      <img class="graphic" src="{% static 'main/support-team.svg' %}" alt="Customized intelligent matching system.">
    </div>
    <div class="infoholder column-center-flex">
      <div class="hunned-width center-row-flex">
        <h3 class="infotitle">
          Win over new customers with effective and personalized advertising spaces.
        </h3>
      </div>
      <div class="info-p">
        Our algorithms will pair you with the most relevant, most likely-profitable spaces on the market.
      </div>
    </div>
  </div>
  <div class="full-width justify start-row-flex">
    <div class="infoholder column-center-flex">
      <div class="hunned-width center-row-flex">
        <h3 class="infotitle">
          Mental Topology
        </h3>
        <!-- You should probably make it into a title and paragraph schema -->
      </div>
      <div class="info-p">
        Our mental topology algorithms use big data to identify where and when customers are most suseptable to advertisement for your product. 
        This allows you to spend you money more effectively, targeting people most likely to be customers. 
      </div>
    </div>
    <div class="graphic-holder">
      <!-- TODO: these graphics dont go well with the theme of the page, change to screenshots and direct representation -->
      <img class="graphic" src="{% static 'main/support-team.svg' %}" alt="Customized intelligent matching system.">
    </div>
  </div>
  <div class="full-width center-row-flex" style="margin-bottom: 5vh;">
      <div class="start-btn"><a class="invisible-link" href="{% url 'signup' %}">Get started!</a></div>
      <div class="start-btn"><a class="invisible-link" href="{% url 'whykatapult' %}">More info?</a></div>
  </div>
</div>
<div class="full-width column-start-flex" style="display: none" id="individual-solutions">
  <div class="full-width justify start-row-flex">
    <div class="graphic-holder">
      <!-- TODO: these graphics dont go well with the theme of the page, change to screenshots and direct representation -->
      <img class="graphic" src="{% static 'main/support-team.svg' %}" alt="Customized intelligent matching system.">
    </div>
    <div class="infoholder column-center-flex">
      <div class="hunned-width center-row-flex">
        <h3 class="infotitle">
          Get ahead of your expenses by earning extra income on your assets. 
        </h3>
      </div>
      <div class="info-p">
        Our all-in-one platform will allow you to earn virtually on autopilot. 
        Choose your desired level of interaction, and we will handle the rest, optimizing engagements for your benefit. 
      </div>
    </div>
  </div>
  <div class="full-width justify start-row-flex">
    <div class="infoholder column-center-flex">
      <div class="hunned-width center-row-flex">
        <h3 class="infotitle">
          Don't choose between convenience and control
        </h3>
      </div>
      <div class="info-p">
       We give adspace owners complete control of their property while still "emphasizing" hands-off workflow. 
          Choose what you want to monitor and what you want to be automated. 
      </div>
    </div>
    <div class="graphic-holder">
      <!-- TODO: these graphics dont go well with the theme of the page, change to screenshots and direct representation -->
      <img class="graphic" src="{% static 'main/support-team.svg' %}" alt="Customized intelligent matching system.">
    </div>
  </div>
  <div class="full-width justify start-row-flex">
    <div class="graphic-holder">
      <!-- TODO: these graphics dont go well with the theme of the page, change to screenshots and direct representation -->
      <img class="graphic" src="{% static 'main/support-team.svg' %}" alt="Customized intelligent matching system.">
    </div>
    <div class="infoholder column-center-flex">
      <div class="hunned-width center-row-flex">
        <h3 class="infotitle">
         Worth your time
        </h3>
      </div>
      <div class="info-p">
         Our pricing algorithms finds the best deal for both sides by matching you will the customers who will pay the most for your space. 
      </div>
    </div>
  </div>
  <div class="full-width justify start-row-flex">
    <div class="infoholder column-center-flex">
      <div class="hunned-width center-row-flex">
        <h3 class="infotitle">
          Brand security
        </h3>
      </div>
      <div class="info-p">
      We built in brand security. Choose what ads you allow, which you don't, and which you need to review.
      </div>
    </div>
    <div class="graphic-holder">
      <!-- TODO: these graphics dont go well with the theme of the page, change to screenshots and direct representation -->
      <img class="graphic" src="{% static 'main/support-team.svg' %}" alt="Customized intelligent matching system.">
    </div>
  </div>
  <div class="full-width center-row-flex" style="margin-bottom: 5vh;">
      <div class="start-btn"><a class="invisible-link" href="{% url 'signup' %}">Get started!</a></div>
      <div class="start-btn"><a class="invisible-link" href="{% url 'whykatapult' %}">More info?</a></div>
  </div>
</div>
{% endblock %}
{% block bottomScripts %}
<script type="text/javascript">
function showBusinessSolutions() {
  document.getElementById("businessOptButton").style.backgroundColor = "#cc1100"
  document.getElementById("businessOptButton").style.color = "white"
  document.getElementById("individualOptButton").style.backgroundColor = "white"
  document.getElementById("individualOptButton").style.color = "#084a75"
  document.getElementById("business-solutions").style.display = "flex"
  document.getElementById("business-solutions").scrollIntoView(true);
  document.getElementById("individual-solutions").style.display = "none"
}
function showIndividualSolutions() {
  document.getElementById("individualOptButton").style.backgroundColor = "#cc1100"
  document.getElementById("individualOptButton").style.color = "white"
  document.getElementById("businessOptButton").style.backgroundColor = "white"
  document.getElementById("businessOptButton").style.color = "#084a75"
  document.getElementById("individual-solutions").style.display = "flex"
  document.getElementById("individual-solutions").scrollIntoView(true);
  document.getElementById("business-solutions").style.display = "none"
}
</script>
<script type="text/javascript">
particlesJS("particles-js", {
"particles": {
"number": {
"value": 80,
"density": {
"enable": true,
"value_area": 800
}
},
"color": {
"value": "#cc1100"
},
"shape": {
"type": "circle",
"stroke": {
"width": 0,
"color": "#000000"
},
"polygon": {
"nb_sides": 5
},
"image": {
"src": "img/github.svg",
"width": 100,
"height": 100
}
},
"opacity": {
"value": 0.5,
"random": false,
"anim": {
"enable": false,
"speed": 1,
"opacity_min": 0.1,
"sync": false
}
},
"size": {
"value": 3,
"random": true,
"anim": {
"enable": false,
"speed": 20,
"size_min": 0.1,
"sync": false
}
},
"line_linked": {
"enable": true,
"distance": 256, // diff (256.54) / 150
"color": "#cc1100",
"opacity": 0.4,
"width": 1
},
"move": {
"enable": true,
"speed": 1.6, // diff (6) / 1.603412060865523
"direction": "none",
"random": false,
"straight": false,
"out_mode": "bounce", // diff ("out") / "bounce"
"bounce": false,
"attract": {
"enable": false,
"rotateX": 600, // diff (600) / 1443.0708547789707
"rotateY": 1200 
}
}
},
"interactivity": {
"detect_on": "window",
"events": {
"onhover": {
"enable": true,
"mode": "grab"
},
"onclick": {
"enable": true,
"mode": "push" // diff ("push") / repulse
},
"resize": true
},
"modes": {
"grab": {
"distance": 400,
"line_linked": {
  "opacity": 1
}
},
"bubble": {
"distance": 400,
"size": 40,
"duration": 2,
"opacity": 8,
"speed": 3
},
"repulse": {
"distance": 200,
"duration": 0.4
},
"push": {
"particles_nb": 4
},
"remove": {
"particles_nb": 2
}
}
},
"retina_detect": true
}
)
</script>
{% endblock %}
