{% extends "main/layout.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block main %}
<div class="body" id="particles-js">
  <h1 class="splash-title">
    Katapult is the <i>first</i> online platform to connect real-world property owners with advertisers, matching an advertiser’s specific business needs with a customized network of available advertising spaces.
  </h1>
  <div class="full-width space-row-flex">
    <h1 class="page-title">Services for: <span style="background-color: #cc1100; color: white;" onclick="showBusinessSolutions()" id="businessOptButton" class="options-btn">Businesses</span> <span id="individualOptButton" onclick="showIndividualSolutions()" class="options-btn">Owners</span></h1>
    <div class="system-holder column-start-flex">
      <div class="system-row center-row-flex">
        <div class="touchable figure column-center-flex" style="animation: float1 6s ease-in-out infinite;">
          Katapult
        </div>
      </div>
      <div class="system-row justify center-row-flex">
        <div id="owners" onclick="showBusinessSolutions()" class="touchable figure column-center-flex" style="animation: float2 6s ease-in-out infinite;">
          Businesses
        </div>
        <div id="businesses" onclick="showIndividualSolutions()" class="touchable figure column-center-flex" style="animation: float3 6s ease-in-out infinite;">
          Owners
        </div>
      </div>
      <div class="system-row center-row-flex">
        <div class="touchable figure column-center-flex" style="animation: float3 6s ease-in-out infinite;">
          Consumers
        </div>
      </div>
    </div>
  </div>
</div>
<div class="full-width column-start-flex" id="business-solutions">
  <div class="full-width justify start-row-flex">
    <div class="graphic-holder">
      <!-- TODO: these graphics dont go well with the theme of the page, change to screenshots and direct representation -->
      <img class="graphic" src="{% static 'main/support-team.svg' %}" alt="Customized intelligent matching system.">
    </div>
    <div class="infoholder column-center-flex">
      <div class="hunned-width center-row-flex">
        <h3 class="infotitle">
          Win over new customers through effective and personalized advertising spaces.<br>Our algorithms will pair you with the most relevant, most likely-profitable spaces on the market.
        </h3>
      </div>
    </div>
  </div>
  <div class="full-width center-row-flex" style="margin-bottom: 5vh;">
      <div class="start-btn"><a class="invisible-link" href="{% url 'signup' %}">Get started!</a></div>
      <div class="start-btn"><a class="invisible-link" href="{% url 'whykatapult' %}">More info?</a></div>
  </div>
</div>
<div class="full-width column-start-flex" style="display: none" id="individual-solutions">
  <div class="full-width justify start-row-flex">
    <div class="graphic-holder">
      <!-- TODO: these graphics dont go well with the theme of the page, change to screenshots and direct representation -->
      <img class="graphic" src="{% static 'main/support-team.svg' %}" alt="Customized intelligent matching system.">
    </div>
    <div class="infoholder column-center-flex">
      <div class="hunned-width center-row-flex">
        <h3 class="infotitle">
          Earn money off of your property
        </h3>
      </div>
    </div>
  </div>
  <div class="full-width center-row-flex" style="margin-bottom: 5vh;">
      <div class="start-btn"><a class="invisible-link" href="{% url 'signup' %}">Get started!</a></div>
      <div class="start-btn"><a class="invisible-link" href="{% url 'whykatapult' %}">More info?</a></div>
  </div>
</div>
{% endblock %}
{% block bottomScripts %}
<script type="text/javascript">
function showBusinessSolutions() {
  document.getElementById("businessOptButton").style.backgroundColor = "#cc1100"
  document.getElementById("businessOptButton").style.color = "white"
  document.getElementById("individualOptButton").style.backgroundColor = "white"
  document.getElementById("individualOptButton").style.color = "#084a75"
  document.getElementById("business-solutions").style.display = "flex"
  document.getElementById("business-solutions").scrollIntoView(true);
  document.getElementById("individual-solutions").style.display = "none"
}
function showIndividualSolutions() {
  document.getElementById("individualOptButton").style.backgroundColor = "#cc1100"
  document.getElementById("individualOptButton").style.color = "white"
  document.getElementById("businessOptButton").style.backgroundColor = "white"
  document.getElementById("businessOptButton").style.color = "#084a75"
  document.getElementById("individual-solutions").style.display = "flex"
  document.getElementById("individual-solutions").scrollIntoView(true);
  document.getElementById("business-solutions").style.display = "none"
}
</script>
<script type="text/javascript">
particlesJS("particles-js", {
"particles": {
"number": {
"value": 80,
"density": {
"enable": true,
"value_area": 800
}
},
"color": {
"value": "#cc1100"
},
"shape": {
"type": "circle",
"stroke": {
"width": 0,
"color": "#000000"
},
"polygon": {
"nb_sides": 5
},
"image": {
"src": "img/github.svg",
"width": 100,
"height": 100
}
},
"opacity": {
"value": 0.5,
"random": false,
"anim": {
"enable": false,
"speed": 1,
"opacity_min": 0.1,
"sync": false
}
},
"size": {
"value": 3,
"random": true,
"anim": {
"enable": false,
"speed": 40,
"size_min": 0.1,
"sync": false
}
},
"line_linked": {
"enable": true,
"distance": 256, // diff (256.54) / 150
"color": "#cc1100",
"opacity": 0.4,
"width": 1
},
"move": {
"enable": true,
"speed": 6, // diff (6) / 1.603412060865523
"direction": "none",
"random": false,
"straight": false,
"out_mode": "bounce", // diff ("out") / "bounce"
"bounce": false,
"attract": {
"enable": false,
"rotateX": 600, // diff (600) / 1443.0708547789707
"rotateY": 1200 
}
}
},
"interactivity": {
"detect_on": "window",
"events": {
"onhover": {
"enable": true,
"mode": "grab"
},
"onclick": {
"enable": true,
"mode": "push" // diff ("push") / repulse
},
"resize": true
},
"modes": {
"grab": {
"distance": 400,
"line_linked": {
  "opacity": 1
}
},
"bubble": {
"distance": 400,
"size": 40,
"duration": 2,
"opacity": 8,
"speed": 3
},
"repulse": {
"distance": 200,
"duration": 0.4
},
"push": {
"particles_nb": 4
},
"remove": {
"particles_nb": 2
}
}
},
"retina_detect": true
}
)
</script>
{% endblock %}
