{% extends "main/layout.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block main %}


<div class="pg-title">
    <h1>LEADERSHIP</h1>
</div>
  
<div class="full-width column-start-flex">
    <h1> Sofiane Larbi <h1>
        <h4>Background in engineering, machine learning, higher mathematics, full-stack web and app development, microeconomics, and is EVP of an Aerospace nonprofit.</h4>

    <h1> Liam Kronman </h1>
        <h4>Background in managerial economics, network economics, business modeling, and higher mathematics.</h4>

    <h1> Ethan Shenker </h1>
        <h4> Background in business and technology. </h4>

    <h1> Aidan Ahram </h1>
        <h4>Background in business and technology.</h4>

</div>


{% endblock %}
