{% extends "main/layout.html" %}
{% load static %}
{% block title %}Why Katapult{% endblock %}
{% block main %}
<div id="feature-2" class="feature-box">
  <div class="space-evenly-row-flex">
    <div class="column-start-flex">
      <img class="solutions-graphic-small" src="{% static 'main/logo.svg' %}">
    </div>
    <div class="home-title-col column-start-flex" data-aos="fade-up">
      <h1 class="splash-title">
        The future today.
      </h1>
      <h2 class="splash-title">
        Katapult is the next generation of outdoor advertising.
      </h2>
      <h3 class="splash-title">
        Our tech, platform, and methods allow you to focus on what matters: your business.
      </h3>
      <div class="hunned-width start-row-flex">
        <div class="nav-button" style="margin: 0; margin-top: 5vh;">
          <a class="invisible-link" href="{% url 'signup' %}">
            Get started
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="space-evenly-row-flex">
    <div class="home-title-col column-start-flex" data-aos="fade-up">
      <h1 class="splash-title">
        Next-gen tech
      </h1>
      <h2 class="splash-title">
        Katapult is the next generation of outdoor advertising.
      </h2>
      <h3 class="splash-title">
        Auto-segmentation: automatically find the demographics most likely to be customers.
      </h3>
      <h3 class="splash-title">
        Auto-targeting: Automatically finds the most profitable adspaces.
      </h3>
      <h3 class="splash-title">
        Analytics: TODO
      </h3>
      <div class="hunned-width start-row-flex">
        <div class="nav-button" style="margin: 0; margin-top: 5vh;">
          <a class="invisible-link" href="{% url 'signup' %}">
            Get started
          </a>
        </div>
      </div>
    </div>
    <div class="column-start-flex">
      <img class="solutions-graphic" src="{% static 'main/buy.png' %}">
    </div>
  </div>
</div>
<div id="feature-3" class="feature-box">
  <div class="space-evenly-row-flex">
    <div class="column-start-flex">
      <img class="solutions-graphic" src="{% static 'main/working.jpg' %}">
    </div>
    <div class="home-title-col column-start-flex" data-aos="fade-up">
      <h1 class="splash-title">
        Our service
      </h1>
      <h2 class="splash-title">
        Automation done properly
      </h2>
      <h3 class="splash-title">
        Focus on what matters to you. Leave everything else to us.
      </h3>
      <h2 class="splash-title">
        Simplified processes
      </h2>
      <h3 class="splash-title">
        Workflow, fees, etc. all open and simple.
      </h3>
      <h2 class="splash-title">
        Human focused
      </h2>
      <h3 class="splash-title">
        Though we are tech oriented, we put humans first.
      </h3>
      <div class="hunned-width start-row-flex">
        <div class="nav-button" style="margin: 0; margin-top: 5vh;">
          <a class="invisible-link" href="{% url 'signup' %}">
            Get started
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block bottomScripts %}
 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
{% endblock %}